#table_id tr.even  td.sorting_1 {
	background-color: #C0FFC4;
}

#table_id tr.even {
	background-color: #C0FFC4;
}

#table_id tr.odd td.sorting_1 {
	background-color: #DDFFDD;
}
#table_id tr.odd {
	background-color: #DDFFDD;
}

#table_id tr:hover td.sorting_1 {
	background-color: #95C297;
}

#table_id tr:hover {
	background-color: #95C297;
}

#table_id tr.row_selected1 td.sorting_1{
	background-color: #65A297;
}

#table_id tr.row_selected1 {
	background-color: #65A297;
}